@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white
    }
    header {
        background-color: #19191980;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black
    }
}

header {
    width: 98%;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}

#logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

#logo-box img {
    height: 95%;
    width: auto;
}

#logo-box span {
    white-space: nowrap;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-height: calc(90% - 70px);
    margin: 5% 15%;
    border: 1px dotted red;
}

.container > form > div {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

#color-input {
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    margin: auto;
}
#color-input::-webkit-color-swatch {
    border-radius: 50%;
    border: 7px solid #000000;
}
#color-input::-moz-color-swatch {
    border-radius: 50%;
    border: 7px solid #000000;
}

@media screen and (max-width: 800px) {
    .container > form > div {
        flex-direction: column;
    }
}


